<div class="full-width">
  <label for="googleMapsAutocomplete">{{addressLabelText}}</label>
  <input id="googleMapsAutocomplete"
         [(ngModel)]="address"
         (change)="onQuery($event)"
         placeholder="{{placeholderText}}"
         class="form-control"
         #search
         MatValidateAddress
         required>
  <div *ngIf="addressSearchControl.hasError('required')" class="error">
    {{requiredErrorText}}
  </div>
  <div *ngIf="addressSearchControl.hasError('validateAddress')" class="error">
    {{invalidErrorText}}
  </div>
</div>
